p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #595959;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  background-color: #e5e5e5;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}
.main-content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
}

/* about styles  */
.about {
  margin-bottom: 40px;
}
.about-name,
.about-position {
  color: #000000;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-top: 20px;
  margin-bottom: 25px;
}
.about-position {
  font-size: 22px;
  line-height: 17px;
  margin-bottom: 20px;
}

/* projects styles */
.projects {
  margin-bottom: 50px;
}
.title {
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 20px;
}
.projects-list {
  padding: 0px;
  margin-left: 15px;
}
.projects-item {
  margin-bottom: 20px;
}

.project-link {
  color: inherit;
}
.project-link {
  margin-left: 10px;
}

/* work styles */
.work,
.period {
  margin-bottom: 20px;
}

/* education styles */
.work-position,
.organization,
.name-university {
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0px;
}
.work-experience {
  color: #000000;
  font-weight: bold;
}
.organization,
.name-university {
  color: #fb6d3a;
}

.line {
  color: #000000;
}
.work-list {
  padding: 0px;
  margin-left: 20px;
}

.education {
  margin-bottom: 20px;
}

.name-degree {
  color: #000000;
}

/* sidebar styles */
.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}
.photo {
  width: 370px;
  margin-bottom: 50px;
}
.sidebar-container {
  margin-left: 40px;
  margin-bottom: 50px;
}
.sidebar-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.sidebar-contacts {
  margin-left: 10px;
}

.sidebar-list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}
.sidebar-item,
.project-type__accent {
  color: #fb6d3a;
}

.sidebar-item {
  margin: 0px;
}
.sidebar-text {
  color: #ffffff;
}
