body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}
.main-content {
  background-color: #ffffff;
  /* box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1); */
  padding: 20px 40px;
}

/* about styles  */
.about {
  margin-bottom: 40px;
}
.about-name {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
}
.about-position {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 17px;
  margin-bottom: 20px;
}
.about-description,
.project-description {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* projects styles */
.projects {
  margin-bottom: 50px;
}
.title {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.projects-list {
  padding: 0px;
  margin-left: 15px;
}
.projects-item {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}
.projects,
.project-link {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.project-link {
  margin-left: 10px;
}

/* work styles */
.work {
  margin-bottom: 20px;
}

/* education styles */
.work-position {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.organization {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.period {
  color: #a8a8a8;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
}
.line {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.work-list {
  padding: 0px;
  margin-left: 20px;
}
.work-list-item {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.education {
  margin-bottom: 45px;
}
.name-university {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.name-degree {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}

/* sidebar styles */
.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}
.photo {
  width: 370px;
  margin-bottom: 50px;
}
.sidebar-container {
  margin-left: 40px;
  margin-bottom: 50px;
}
.sidebar-title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contact-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.sidebar-list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}
.sidebar-item,
.project-type__accent {
  color: #fb6d3a;
}
.sidebar-text {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
